@import "var";
.intro {
	border-bottom: 1px solid $c-split;
}
.box {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	max-width: 1000px;
}
.card {
	background: #fff;
	border-bottom: 3px solid $c-primary;
	margin: 1rem;
	flex: 1;
	min-width: 240px;
	height: 240px;
	padding: 1rem;
	&:nth-child(2) {
		box-shadow: 0 16px 48px 0 rgba(0, 0, 0, 0.06);
	}
}
.title {
	font-family: $font-bold;
	color: #333;
	margin-bottom: 1rem;
	font-size: 20px;
}
.desc {
	font-size: 18px;
	> p {
		margin-bottom: .6rem;
	}
}
.color {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 180px;
	margin-bottom: 120px;
	@include media($m-small) {
		margin-top: 100px;
		margin-bottom: 60px;
	}
}
.item {
	width: 54px;
	height: 54px;
	border-radius: 50%;
	margin: 30px;
	@include media($m-small) {
		width: 44px;
		height: 44px;
	}
	&:nth-child(1) {
		background: $c-primary
	}
	&:nth-child(2) {
		background: $c-font-dark
	}
	&:nth-child(3) {
		background: $c-font-normal
	}
	&:nth-child(4) {
		box-shadow: 0 16px 48px 0 rgba(0, 0, 0, 0.06);
	}
}