@import "var";
.blog {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.list {
	max-width: 800px;
	width: 100%;
	padding: 1rem;
}

.post {
	border-bottom: 1px solid $c-split;
	margin-top: 3rem;
	margin-bottom: 6rem;
}
.footer {
	display: flex;
	justify-content: space-between;
	margin: 4rem 0;
	@include media($m-middle){
		flex-direction: column;
	}
}
.readmore {
	background: #222;
	color: #fff;
	height: 44px;
	line-height: 44px;
	text-align: center;
	padding-left: 2rem;
	padding-right: 1.5rem;
	transition: opacity .5s ease-out;
	&:hover {
		color: #fff;
		opacity: .5;
	}
	> i {
		margin-left: 1rem;
	}
}
.tag {
	&:before{
		content: 'Tags:';
		margin-right: 1rem;
	}
	> span {
		display: inline-block;
		background: #fff;
		height: 44px;
		line-height: 44px;
		padding: 0 1.5rem;
		margin-right: 1rem;
		box-shadow: 0 2px 12px 0 rgba(#000, .08);
	}
	@include media($m-middle){
		margin-bottom: 2rem;
		&:before{
			content: '';
			margin-right: 0;
		}
	}
}
:global {
	.ant-table, .ant-table-body > table {
		overflow: visible !important;
		display: block;
	}
	.ant-table-tbody {
		display: block;
	}
}