@import "var";
.blog {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.table {
	max-width: 800px;
	width: 100%;
	padding: 1rem;
}
.row {
	display: flex;
	flex-direction: column;
	padding: 1rem 0;
	margin: 2rem 0;
	background: transparent !important;
	> td {
		background: transparent !important;
		padding: 0 !important;
	}

}
.post {
	border-bottom: 1px solid $c-split !important;
}
.readmore {
	display: block;
	font-size: 1.2rem;
	margin: 2rem 0;
}
:global {
	.ant-table-body > table {
		overflow: visible !important;
		display: block;
	}
	.ant-table-tbody{
		display: block;
	}
}