@import "var";
.page {
	margin-top: 3rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	> div {
		@include showup;
		width: 100%;
		max-width: 800px;
		padding: 1rem;
	}
}

.footer{
	display: flex;
	justify-content: space-between;
	margin: 2rem 0;
	@include media($m-middle){
		flex-direction: column-reverse;
	}
}

.back{
	background: #222;
	color: #fff;
	height: 44px;
	line-height: 44px;
	text-align: center;
	padding-left:2rem;
	padding-right: 3rem;
	transition: opacity .5s ease-out;
	&:hover{
		color: #fff;
		opacity: .5;
	}
	> i {
		margin-right: 1rem;
	}
}


.tag{
	> span{
		display: inline-block;
		background: #fff;
		height: 44px;
		line-height: 44px;
		padding: 0 1.5rem;
		margin-left: 1rem;
		box-shadow: 0 2px 12px 0 rgba(#000,.08);
	}
	@include media($m-middle){
		margin-bottom: 2rem;
	}
}