@import "var";
.page {
	display: flex;
	flex-direction: column;
	align-items: center;
	> div {
		width: 100%;
		max-width: 800px;
		padding: 1rem;
	}
}

.back{
	background: #222;
	color: #fff;
	height: 44px;
	line-height: 44px;
	text-align: center;
	padding-left:2rem;
	padding-right: 3rem;
	margin-bottom: 2rem;
	transition: opacity .5s ease-out;
	&:hover{
		color: #fff;
		opacity: .5;
	}
	> i {
		margin-right: 1rem;
	}

}