@import "../../style/var";
.cm-btn {
	display: inline-block;
	line-height: 44px;
	height: 44px;
	border-radius: 22px;
	padding: 0 24px;
	margin: .5rem 1rem;
	.anticon{
		font-size: .9em;
	}
	@include media($m-small){

		width: 100%;
	}
}

.cm-btn-link{
	width: 100%;
	display: flex;
	justify-content: center;
}