@import 'var';

.btn {
  @include showup;
  background: #222;
  border-color: #222;
  display: inline-block;
  height: 44px;
  line-height: 44px;
  padding: 0 24px;

  + .btn {
    margin-left: 1rem;
  }

  :global(.anticon) {
    font-size: 0.9em;
  }

  &:global(.ant-btn-background-ghost) {
    border-color: #222;
    color: #222;
  }
  @include media($m-small) {
    width: 100%;

    + .btn {
      margin: 0.5rem 0;
    }
  }
}
