@import 'import';

.list {
  margin-bottom: 2rem;
  max-width: 480px;
}

.item {
  align-items: center;
  display: flex;
  margin-bottom: 0.75rem;

  > span {
    color: $c-primary;
    font-size: 24px;
  }
}

.desc {
  color: #666;
  font-size: 0.9rem;
  font-weight: 400;
  letter-spacing: 1px;
  margin-left: 3rem;

  > p {
    margin-bottom: 0.3rem;
  }
  @include media($m-middle) {
    font-size: 0.85rem;
    margin-left: 1rem;
  }
  @include media($m-small) {
    font-size: 0.8rem;
  }
}
