@import 'import';
.contact {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.title {
  margin: 2rem 0;
}
.command {
  max-width: 720px;
  padding: 1rem;
}
.box {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 720px - 32px;
  margin-bottom: 4rem;
  @include media($m-small) {
    flex-direction: column;
    align-items: center;
    box-shadow: none;
    background: transparent;
  }
}
.info {
  padding: 1rem;
  width: 50%;
  display: flex;
  align-items: center;
  cursor: pointer;
  background: #fff;
  box-shadow: 0 2px 8px rgba(#000, 0.08);
  transition-duration: 0.3s;
  &:hover {
    box-shadow: 0 4px 16px rgba(#000, 0.08);
    z-index: 999;
  }
  @include media($m-small) {
    box-shadow: 0 4px 16px rgba(#000, 0.08);
    width: 70%;
  }
  > span:before {
    font-size: 1.5rem;
  }
  > div {
    margin-left: 1rem;
    transition-duration: 0.3s;
    &:hover {
      color: $c-primary;
    }
  }
}
