@import "var";
.contact {
	justify-content: center;
}
.title, .desc {
	width: 100%;
	text-align: center;
	color: #222;
}
.title {
	$font-size: 120px;
	font-weight: 700;
	font-size: $font-size;
	letter-spacing: -2px;
	margin-bottom: 1rem;
	@include media ($m-large) {
		font-size: $font-size * .7;
	}
	@include media ($m-middle) {
		font-size: $font-size * .55;
	}
	@include media ($m-small) {
		font-size: $font-size * .45;
	}
}
.desc {
	$font-size: 20px;
	font-size: $font-size;
	margin-bottom: 75px;
	@include media ($m-large) {
		font-size: $font-size * .9;
	}
	@include media ($m-small) {
		font-size: $font-size * .8;
	}
}