@import 'var';

:global(.contact) {
  justify-content: center;
  @include showup;
}

.title,
.desc {
  color: #222;
  text-align: center;
  width: 100%;
}

.title {
  $font-size: 120px;
  font-size: $font-size;
  font-weight: 700;
  letter-spacing: -2px;
  margin-bottom: 1rem;
  @include media ($m-large) {
    font-size: $font-size * 0.7;
  }
  @include media ($m-middle) {
    font-size: $font-size * 0.55;
  }
  @include media ($m-small) {
    font-size: $font-size * 0.45;
  }
}

.desc {
  $font-size: 20px;
  font-size: $font-size;
  margin-bottom: 75px;
  @include media ($m-large) {
    font-size: $font-size * 0.9;
  }
  @include media ($m-small) {
    font-size: $font-size * 0.8;
  }
}
