.pl-c {
  color: #969896;
}

.pl-c1,
.pl-s .pl-v {
  color: #0086b3;
}

.pl-e,
.pl-en {
  color: #795da3;
}

.pl-smi,
.pl-s .pl-s1 {
  color: #333;
}

.pl-ent {
  color: #63a35c;
}

.pl-k {
  color: #a71d5d;
}

.pl-s,
.pl-pds,
.pl-s .pl-pse .pl-s1 {
  color: #183691;
}

.pl-sr {
  color: #183691;
}

.pl-cce,
.pl-sre,
.pl-sra {
  color: #183691;
}

.pl-v,
.pl-smw {
  color: #ed6a43;
}

.pl-bu {
  color: #b52a1d;
}

.pl-ii {
  background-color: #b52a1d;
  color: #f8f8f8;
}

.pl-c2 {
  background-color: #b52a1d;
  color: #f8f8f8;

  &::before {
    content: '^M';
  }
}

.pl-sr .pl-cce {
  color: #63a35c;
  font-weight: bold;
}

.pl-ml {
  color: #693a17;
}

.pl-mh {
  color: #1d3e81;
  font-weight: bold;

  .pl-en {
    color: #1d3e81;
    font-weight: bold;
  }
}

.pl-ms {
  color: #1d3e81;
  font-weight: bold;
}

.pl-mq {
  color: #008080;
}

.pl-mi {
  color: #333;
  font-style: italic;
}

.pl-mb {
  color: #333;
  font-weight: bold;
}

.pl-md {
  background-color: #ffecec;
  color: #bd2c00;
}

.pl-mi1 {
  background-color: #eaffea;
  color: #55a532;
}

.pl-mc {
  background-color: #ffe3b4;
  color: #ef9700;
}

.pl-mi2 {
  background-color: #808080;
  color: #d8d8d8;
}

.pl-mdr {
  color: #795da3;
  font-weight: bold;
}

.pl-mo {
  color: #1d3e81;
}

.pl-ba {
  color: #595e62;
}

.pl-sg {
  color: #c0c0c0;
}

.pl-corl {
  color: #183691;
  text-decoration: underline;
}
