@import 'var';

:global {
  @import 'gitment';
}

.command {
  @include showup;
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.item {
  margin: 0;
  width: 100%;
}
