@import 'var';

.header {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;

  > div {
    text-align: center;
    width: 100%;
  }
}

.icon {
  align-items: center;
  background: $c-primary;
  color: #fff;
  display: flex;
  height: 64px;
  justify-content: center;
  margin-bottom: 1.5rem;
  width: 64px !important;

  > span {
    font-size: 64px;
  }
}

.title {
  color: #222;
  font-size: 80px;
  font-weight: 700;
  letter-spacing: 6px;
  line-height: 1.1;
  margin-bottom: 1rem;
  @include media($m-middle) {
    font-size: 54px;
    letter-spacing: 4px;
  }
  @include media($m-small) {
    font-size: 44px;
    letter-spacing: 3px;
  }
}

.desc {
  margin-bottom: 8rem;
  @include media($m-large) {
    margin-bottom: 6rem;
  }
  @include media($m-middle) {
    margin-bottom: 4rem;
  }
}
