
.video-react {
	width: 100%;

	* {
		box-shadow: none !important;

	}
	&:hover {
		.video-react-big-play-button {
			background: rgba(#fff, .9);
		}
	}
	.video-react-big-play-button {
		display: block;
		display: flex;
		align-items: center;
		justify-content: center;
		background: rgba(#fff, .95);
		border-radius: 0;
		border: none;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		&:before{
			color: #fff;
			display: block;
			width: 88px;
			height: 44px;
			line-height: 44px;
			text-align: center;
			background: $c-primary;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
		}
	}
	.video-react-current-time-display, .video-react-duration-display {
		font-family: $font;
	}
	.video-react-has-started .video-react-control-bar {
		background: rgba(0, 0, 0, .2);
	}

	.video-react-progress-holder {

		.video-react-play-progress {
			background: $c-primary
		}
	}
	.video-react-load-progress div, .video-react-slider {
		background: transparent;
	}
}

