@import "../../style/var";
@import "./player";
@import "./proLib";

.project > div {
	padding: 0 5%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 88px;
	padding-bottom: 88px;
	color: #333;
	justify-content: center;
}
