* {
	box-sizing: border-box;
}
> * {
	@include showup
}
a {
	color: darken($c-primary, 15%);
	translate: color .5s ease-out;
	&:hover {
		color: $c-primary;
	}
}
> p, pre, img, blockquote, ul, ol {
	margin-bottom: 1.5rem;
}
p, li {
	line-height: 1.8;
}
li {
	padding-left: 1.5rem;
	&:before {
		content: "◆";
		opacity: .5;
		font-size: .5em;
		position: absolute;
		margin-left: -1.5rem;
		margin-top: .3rem;
	}
	& + li {
		margin-top: .5rem;
	}
	&:hover {
		&:before {
			opacity: 1;
		}
	}
	> p {
		display: inline;
	}
}
strong {
	color: #333;
}
img {
	max-width: 100%;
	height: auto;
}
code {
	$code-color: desaturate($c-primary, 60%);
	font-size: .8em;
	font-family: $font-code;
	font-weight: 400;
	border-radius: 3px;
	background: rgba($code-color, 0.12);
	color: darken($code-color, 40%);
	padding: .2em .4em
}
blockquote {
	border-left: 4px solid $c-primary;
	padding-left: 1.5rem;
	width: 100%;
	* {
		color: #888;
	}
}
pre {
	display: flex;
	flex-direction: column;
	position: relative;
	* {
		white-space: pre;
	}
	> code {
		border-radius: 0;
		overflow: hidden;
		overflow-x: auto;
		-webkit-overflow-scrolling : touch;
		background: #222;
		padding: 1.5rem 1rem;
		line-height: 1.8;
		color: #ddd;
		width: 100%;
	}
	@include media($m-middle) {
		margin-left: -1rem;
		margin-right: -1rem;
	}
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin-bottom: 2rem;
	font-weight: 600;
	color: #222;
}
h1, h2 {
	margin-top: 6rem;
}
h3, h4 {
	margin-top: 4rem;
}
h1 {
	font-size: 2.1rem;
}
h2 {
	font-size: 1.9rem;
	&:after {
		content: " #";
		color: #e3e3e3
	}
}
h3 {
	font-size: 1.6rem;
}
h4 {
	font-size: 1.4rem;
}
h5 {
	font-size: 1.2rem;
}
h6 {
	font-size: 1rem;
}
kbd {
	display: inline-block;
	font-size: .9em;
	height: 1.2em;
	line-height: 1.2em;
	padding: 0 .4em 1.3em;
	font-family: $font-code;
	background-color: #fafbfc;
	border: solid 1px #c6cbd1;
	border-bottom-color: #959da5;
	box-shadow: inset 0 -1px 0 #959da5;
	border-radius: 2px;
}
table {
	border-spacing: 0;

	border-collapse: collapse;
	border: 2px solid #eee;
	width: 100%;
}
thead {
	color: #333;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .05);
}
th {
	font-weight: 600;
}
th,
td {
	padding: 1rem;
	border: .5px solid #f8f8f8;

}