@import "var";
.title {
	font-weight: 600;
	display: block;
	text-align: center;
	border: none !important;
	font-size: 2.4rem;
	color: #222;
	margin-bottom: .5rem;
	@include media($m-middle) {
		font-size: 1.8rem;
	}
}
.time {
	font-size: 1.1rem;
	color: #999;
	text-align: center;
	margin-bottom: 4rem;
	> span {
		font-size: .9em;
	}
}
.markdown {
	position: relative;
	width: 100%;
	* {
		box-sizing: border-box;
	}
	> p, pre, img, blockquote {
		margin-bottom: 2rem;
	}
	p, li {
		line-height: 1.8;
	}

	ul {

	}

	li {
		&:before{
			content:"◌";
			margin-right: 1rem;
			font-size: .5em;
		}
		& + li {
			margin-top: .5rem;
		}
	}
	img {
		max-width: 100%;
		height: auto;
		marign-left: auto;
		marign-rgiht: auto;
	}
	code {
		$code-color: desaturate($c-primary, 60%);
		font-size: .8em;
		font-family: Hack, Menlo, Consolas, Courier, monospace;
		font-weight: 400;
		border-radius: 3px;
		background: rgba($code-color, 0.12);
		color: darken($code-color, 40%);
		padding: .2em .4em
	}

	blockquote {
		border-left: 4px solid $c-primary;
		padding-left: 1.5rem;
		width: 100%;
		font-size: .9em;
		* {
			color: #888;
		}
	}

	pre {
		display: flex;
		flex-direction: column;
		position: relative;
		> code {
			border-radius: 0;
			overflow: hidden;
			overflow-x: scroll;
			background: #222;
			padding: 1rem;
			line-height: 1.8;
			color: #ddd;
			width: 100%;
		}
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin-bottom: 3rem;
		&:after {
			content: " #";
			color: #e3e3e3
		}
		&:hover {
			&:after {
				color: $c-primary
			}
		}
	}
	h1, h2 {
		margin-top: 6rem;
	}
	h3, h4 {
		margin-top: 4rem;
	}
}
:global {
	.lang-white {
		background: #fff !important;
		box-shadow: 0 8px 24px 0 rgba(#000, 0.08);
		color: #666 !important;
		* {
			color: #666 !important;
		}
	}
}