@import "var";
.header {
	width: 100%;
	z-index: 999 !important;
	background: transparent;
	height: 150px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: #222;
	@include media ($m-large) {
		padding: 0 24px;
	}
	@include media ($m-middle) {
		height: 120px;
		padding: 0 16px;
		margin-bottom: 30px;
	}
}
.logo {
	font-size: 88px !important;
	@include media ($m-middle) {
		font-size: 72px !important;
	}
}
.item {
	display: inline-block;
	background: #fff;
	color: #333;
	font-size: 1.2rem;
	line-height: 48px;
	height: 48px;
	padding: 0 32px;
	border:1px solid #eee;
	margin-left: -1px;
	&:last-child{
		background: $c-primary;
		border-color:transparent;
	}
	&__active, &:hover {
		background: #333;
		color: #fff;
		border-color:transparent;
	}
}
.showDesktop {
	@include media ($m-middle) {
		display: none !important;
	}
}
.showPhone {
	display: none;
	@include media ($m-middle) {
		display: block;
	}
}