@import "var";

.intro {
  border-bottom: 1px solid $c-split;

  img {
    @include showup;
    max-width: 90%;
    @include media($m-small) {
      height: auto;
      min-width: 90%;
    }
  }
}

.item {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 16rem;
  @include media($m-middle) {
    margin-bottom: 10rem;
  }
  @include media($m-small) {
    margin-bottom: 8rem;
  }
}

.box {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  > img {
    background: #fff;
    box-shadow: 0 14px 48px 0 rgba(0, 0, 0, 0.06);
    margin: 1rem;
  }
}

.desc {
  color: #666;
  letter-spacing: .8px;
  line-height: 1.5;
  margin-bottom: 3rem;
  margin-top: 5rem;
  max-width: 640px;
  text-align: center;
}

.btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
