@import 'var';

.footer {
  align-items: center;
  color: $c-font-normal;
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: center;
  width: 100%;
  z-index: 1;

  a {
    color: $c-font-normal;

    &:hover {
      color: $c-primary;
    }
  }
}

.text {
  margin-top: 0.6rem;
  text-align: center;
  @include media($m-small) {
    font-size: 0.9rem;
  }
}

.note {
  font-size: 0.9em;
  margin-left: 0.8rem;
}

.logo {
  display: block;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.social {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 2rem;

  a + a {
    margin-left: 1rem;
  }
}

.icon {
  font-size: 32px;
}
