@import "var";
.footer {
	z-index: 1;
	height: 300px;
	width: 100%;
	color: $c-font-normal;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	a {
		color: $c-font-normal;
		&:hover {
			color: $c-primary;
		}
	}
}
.text {
	margin-top: 0.6rem;
	text-align: center;
	@include media($m-small) {
		font-size: .9rem;
	}
}
.note {
	font-size: .9em;
	margin-left: .8rem;
}
.logo {
	display: block;
	font-size: 1.5rem;
	margin-bottom: .5rem;
}
.social {
	margin-top: 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	a + a {
		margin-left: 1rem;
	}
}
.icon {
	font-size: 32px;
}