@import 'import';

.intro > div {
  align-items: center;
  background: #fff;
  display: flex;
  flex-direction: column;
  padding: 0 5%;
  padding-bottom: 88px;
  padding-top: 88px;

  div {
    @include showup;
  }
}
