@import 'import';

.intro {
  background: $c-primary !important;
  color: #fff;
  justify-content: center;
  min-height: 1vh;

  div {
    text-align: center;
  }
}

.title {
  border: 3px solid #fff;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 1.8px;
  padding: 10px 32px;
}

.subtitle {
  font-size: 54px;
  font-weight: 700;
  margin-bottom: 24px;
  margin-top: 72px;
  @include media($m-middle) {
    font-size: 38px;
  }
}

.desc {
  line-height: 1.5;
  margin-bottom: 54px;
  max-width: 375px - 32px;
  @include media($m-small) {
    font-size: 0.9rem;
  }
}

.doc {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
