@import "var";
.intro {
	background: $c-primary !important;
	justify-content: center;
	color: #fff;
	div {
		text-align: center;
	}
}
.title {
	font-weight: 700;
	font-size: 22px;
	padding: 10px 32px;
	border: 3px solid #fff;
	letter-spacing: 1.8px;
}
.subtitle {
	margin-top: 72px;
	font-weight: 700;
	font-size: 54px;
	margin-bottom: 24px;
	@include media($m-middle) {
		font-size: 38px;
	}
}
.desc {
	max-width: 375px - 32px;
	line-height: 1.5;
	margin-bottom: 54px;
	@include media($m-small) {
		font-size: .9rem;
	}
}
.doc {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}