@import "var";
.intro {
	padding-bottom: 8rem !important;
	border-bottom: 1px solid $c-split;
}
.avatar {
	display: flex;
	justify-content: center;
	border-bottom: 1px solid $c-split;
	padding-bottom: 6rem;
	margin-bottom: 4rem;
	@include media($m-large) {
		flex-wrap: wrap;
	}
}
.img {
	margin: 0 54px;
	margin-bottom: 4rem;
	min-width: 195px;
	width: 195px;
	height: 202px;
	background-image: url("/img/pro-avatar.png");
	background-repeat: no-repeat;
	background-size: 100% auto;
}
.text {
	@include media($m-large) {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}
.title {
	font-size: 2rem;
	color: #222;
}
.desc {
	margin-top: 1.2rem;
	line-height: 1.8;
	letter-spacing: .5px;
	max-width: 450px;
	@include media($m-large) {
		text-align: center;
	}
}
.info {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.logo {
	width: 600px;
	height: 300px;
	background-repeat: no-repeat;
	background-size: 92px auto, 600px auto;
	background-position: 420px center, center;
	background-image: url("/img/logo.gif"), url("/img/pro-1.png");
	@include media($m-middle) {
		width: 600px * .8;
		height: 300px * .8;
		background-size: 92px * .8 auto, 600px * .8 auto;
		background-position: 420px * .8 center, center;
	}
	@include media($m-small) {
		width: 600px * .6;
		height: 300px * .6;
		background-size: 92px * .6 auto, 600px * .6 auto;
		background-position: 420px * .6 center, center;
	}
}
