@import "var";
.intro {
	border-bottom: 1px solid $c-split;
}
.box{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 5rem;
}

.img{
	@include showup;
	max-width: 90%;
	box-shadow: 0 24px 48px 0 rgba(0,0,0,.12);
	margin-top: 2rem;
	margin-bottom: 4rem;
}