@import 'import';

.intro {
  border-bottom: 1px solid $c-split;
  padding-bottom: 8rem !important;
}

.avatar {
  border-bottom: 1px solid $c-split;
  display: flex;
  justify-content: center;
  margin-bottom: 4rem;
  padding-bottom: 6rem;
  @include media($m-large) {
    flex-wrap: wrap;
  }
}

.img {
  background-image: url('/img/pro-avatar.png');
  background-repeat: no-repeat;
  background-size: 100% auto;
  height: 202px;
  margin: 0 54px;
  margin-bottom: 4rem;
  min-width: 195px;
  width: 195px;
}

.text {
  @include media($m-large) {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
}

.title {
  color: #222;
  font-size: 2rem;
}

.desc {
  letter-spacing: 0.5px;
  line-height: 1.8;
  margin-top: 1.2rem;
  max-width: 450px;
  @include media($m-large) {
    text-align: center;
  }
}

.info {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.logo {
  background-image: url('/img/logo.gif'), url('/img/pro-1.png');
  background-position: 420px center, center;
  background-repeat: no-repeat;
  background-size: 92px auto, 600px auto;
  height: 300px;
  width: 600px;
  @include media($m-middle) {
    background-position: 420px * 0.8 center, center;
    background-size: 92px * 0.8 auto, 600px * 0.8 auto;
    height: 300px * 0.8;
    width: 600px * 0.8;
  }
  @include media($m-small) {
    background-position: 420px * 0.6 center, center;
    background-size: 92px * 0.6 auto, 600px * 0.6 auto;
    height: 300px * 0.6;
    width: 600px * 0.6;
  }
}
