@import "var";
.showcase {
	display: flex;
	align-items: center;
	justify-content: center;
	@include media($m-large){
		flex-direction: column;
	}
}
.item {
	margin:2rem;
	width: 200px;
	> div {
		text-align: center;
	}
}

.title {
	font-size: 20px;
}
.desc {
	font-weight: 700;
	font-size: 24px;
	color: #222;
}