@import "style/index";
@import "style/var";
html, body, :global(#root) {
	height: 100%;
}
a:focus {
	text-decoration: none;
}
div {
	word-wrap: break-word;
}
*:focus {
	outline: none;
}
#nprogress {
	.bar {
		background: $c-primary;
	}
	.spinner-icon {
		border-top-color: $c-primary;;
		border-left-color: $c-primary;;
	}
}
