@import "var";
@import "font";

html, body, :global(#root) {
	height: 100%;
}
a:focus {
	text-decoration: none;
}
div {
	word-wrap: break-word
}
* {
	-webkit-font-smoothing: antialiased
}
*:focus {
	outline: none;
}



