@import "var";
@import "root";
html, body, :global(#root) {
	height: 100%;
}
:global {
	.ant-back-top {
		right: 4rem;
		bottom: 4rem;
		@include media($m-middle) {
			display: none !important;
		}
	}
	.ant-back-top-content {
		background: #222;
		border-radius: 0;
	}
}

