@import 'import';
.splash {
  @include showup;
  align-items: center;
  background: #fff;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  position: fixed;
  width: 100%;
  z-index: 999;
}
.logo {
  cursor: pointer;
  height: 155px;
  width: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  :global(.icon-logo-text-combine) {
    &:before {
      color: #222;
      font-size: 2.4rem;
      margin-top: 0.2rem;
      display: block;
    }
  }
}

.text {
  color: #222;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 400;
  height: 3rem;
  line-height: 120%;
  margin-top: 4rem;
  position: relative;
  text-align: center;

  &:hover {
    .shape:before {
      opacity: 1;
    }
  }
}
.shape:before {
  color: $c-primary;
  content: '〃';
  display: block;
  font-size: 3rem;
  opacity: 0;
  position: absolute;
  right: 0.8rem;
  top: 1.5rem;
  transition: 0.25s ease-in-out;
}
