@import 'import';

.item {
  display: flex;
  margin-bottom: 100px;
  @include media($m-middle) {
    align-items: center;
    flex-direction: column;
  }
}

.img {
  background-size: 100%;
  height: 120px;
  margin-right: 3rem;
  min-width: 120px;
  width: 120px;
  @include media($m-middle) {
    margin: 2rem 0;
  }
}

.content {
  > div {
    letter-spacing: 0.5px;
    margin-bottom: 0.75rem;
    @include media($m-middle) {
      margin-top: 1rem;
      text-align: center;
    }
  }
}

.title {
  color: #222;
  font-size: 24px;
  font-weight: 700;
}

.time {
  font-size: 0.9rem;
  @include media($m-middle) {
    margin-bottom: 2rem;
  }
}

.desc {
  font-size: 0.9rem;

  > p {
    line-height: 1.8;
    @include media('<=800px') {
      display: inline;

      & + p:before {
        content: '; ';
      }
    }
  }
}
