@import "var";
.item {
	margin-bottom: 100px;
	display: flex;
	@include media($m-middle) {
		flex-direction: column;
		align-items: center;
	}
}
.img {
	min-width: 120px;
	width: 120px;
	height: 120px;
	background-size: 100%;
	margin-right: 3rem;
	@include media($m-middle) {
		margin: 2rem 0;
	}
}
.content {
	> div {
		letter-spacing: .5px;
		margin-bottom: .75rem;
		@include media($m-middle) {
			text-align: center;
			margin-top: 1rem;
		}
	}
}
.title {
	font-size: 24px;
	font-weight: 700;
	color: #222;
}
.time {
	font-size: .9rem;
	@include media($m-middle) {
		margin-bottom: 2rem;
	}
}
.desc {
	font-size: .9rem;
	> p {
		line-height: 1.8;
		@include media("<=800px") {
			display: inline;
			& + p:before {
				content: "; ";
			}
		}
	}
}